body {
    margin: 0;
    font-family: arial;
    font-size: 11px;
    background-color: #DDDDDD;
    color: #5D5E5E;
}
.container {
    border: 1px solid #767676;
    padding: 1px;
    background-color: white;
    max-width: 575px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.section-container {
    padding: 18px 20px 10px 20px;
    border-bottom: none;
    display: flex;
}
.content-container {
    margin-bottom: 20px;
    background-color: white;
    padding: 15px;
    width: 100%;
}
@media(min-width: 0px) {
    .section-container {
        flex-wrap: wrap;
    }
}
@media(min-width: 600px) {
    .section-container {
        flex-wrap: nowrap;
    }
}
.content-container h1 {
    font-size: 26px;
    margin: 0;
    color: #4A4A4A;
}
.btn {
    margin-right: 5px;
    padding: 6px 20px 7px 20px;
    font-size: 14px;
    border-style: solid;
    border-width: 0 1px;
    border-color: #C6C6C8;
    color: white;
}
.btn-red {
    background-color: #D0021B;
}
.btn-blue {
    background-color: #4A90E2;
}
.img-placeholder {
    height: 140px;
    background-color: #D8D8D8;
    color: white;
    text-align: center;
    line-height: 140px;
    font-size: 18px;
}
header {
    background-color: #333333;
}
footer {
    padding: 0 20px;
    background-color: #333333;
    height: 40px;
    text-alight: right;
}
.navbar.top {

}
.navbar.bottom {

}
navbar li {
    display: inline-block;
    color: white;
    font-size: 14px;
    line-height: 40px;
    margin-left: 25px;
}