body, * {
	background-color: #ddd; 
	box-sizing: border-box;
}
​
.box {
	width: 100px;
	height: 100px;
	border: 1px #111212;
}
​
.blue {
	position: relative;
	z-index: 1;
	background-color: lightblue;
}
​
.green {
	top: 25px;
	left: 25px;
	position: absolute;
	z-index: 2;
	background-color: forestgreen;
}
​
.black {
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 3;
	background-color: #000000;
}
​
.red {
	margin: 0 auto;
	position: relative;
	background-color: #CE1A1A;
}
​
.container {
	margin-top: -50px;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
}
​
.circle {
	position: absolute;
	left: 150px;
	width: 200px;
	height: 200px;
	background-color: #ACDE23;
	border-radius: 50%
}