body {
  padding: 0;
  margin: 0;
  font-family: arial;
  font-size: 18px;
}
.container {
/*   border: 1px solid; */
  margin: 20px;
}

.toprow {
  display: flex;
  justify-content: space-between;
}
.middletext{
  margin: 40px 0;
}
/* middlerow */
.middlerow {
  display: flex;
  height: 400px;
}
.middlebox:nth-child(1){
  width: 32%;
}
.middlebox:nth-child(2){
  flex-grow: 1;
}
/* bottomrow */
.bottomrow {
  display: flex;
  margin-top: 30px;
}
.bottombox {
  height: 150px;
}
.bottombox:nth-child(1){
  width: 68%;
}
.bottombox:nth-child(2){
  width: 4%;
}
.bottombox:nth-child(3){
  width: 24%;
}
.bottombox:nth-child(4){
  width: 4%;
}

.topbox {
  height: 180px;
  width: 32%;
}

.redbox {
  background-color: #D0021B;
}

.bluebox {
  background-color: #4A90E2;
}

.greybox {
  background-color: #4A4A4A;
}